<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>CREDIT CARD PREDICTION</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
                           html{
                position: relative;
                min-height: 100%;
            }

            body{
                margin: 0 0 100px;
                padding: 25px;
            }
            /* footer {
                background-color: salmon;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 85px;
                width: 100%;
                overflow: hidden;
            } */

            a{
                text-decoration: none !important;
            }

            a:hover{
                cursor: pointer;
            }

            .nav-link{
                font-size: 20px;
                color:gray;
            }

            .card{
                /* border: 1px solid lightblue; */
                background-color:#f2e6d9;
            }

            .form-group .form-control{
                border: 1px solid grey;
            }
            .collapse navbar-collapse{
                    color:gray;
            }
            body{
                    background-color: 	 #e9e2e9;
            }
        </style>
    </head>
<body bgcolor="lightGray">
        <!-- <h1 align="center">Credit Card Prediction</h1> -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="background-color: lightblue !important;">
                <a href="{{ url_for('home') }}" style="color: gray;font-size: 25px;"><b>Credit Card Default Prediction</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="collapse navbar-collapse" id="navbarNav">
                   <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                                <a href="https://www.linkedin.com/in/umme-athiya-1a8673172/" target="_blank" class="nav-link" style="color:gray;"><b>About Me</b></a>
                            </li>
                            <li class="nav-item active">
                                <a href="https://shahyaseen71.gitbook.io/internshipgitbook/project-final/problem-statment" target="_blank" class="nav-link" style="color:gray;"><b>About Project</b></a>
                            </li>
                            <li class="nav-item active">
                                <a href="https://github.com/UMMEATHIYA/Technocolabs-ML-Internship" target="_blank" class="nav-link" style="color:gray;"><b>Github</b></a>
                            </li>
                    
                   </ul>
                 </div>
               </nav>
               
               <br><br>
    
               <div class="container">
    
               <center><h1>Technocolabs-ML-Internship</h1></center>
        
               {% if alert_message %}
                <center><div class="alert alert-danger">{{ alert_message }}</div></center>
               {% endif %}
    
               {% if success_message %}
                <center><div class="alert alert-success">{{ success_message }}</div></center>
               {% endif %}
    
                   <center><form class="card card-body" method="POST">
                       
    
                        <div class="row">
    
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="LIMIT_BAL" placeholder="Enter Limited Balance">
                                </div>
                            </div>
    
                            <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="EDUCATION">
                                <option value="" disabled selected>Select type of Education</option>
                                    {% for education in education_status %}
                                    <option>{{ education }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        </div>
    
    
                        <div class="row">
    
                            <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" name="MARRIAGE">
                                <option value="" disabled selected>Select Marital Status</option>
                                    {% for marriage in marital_status %}
                                    <option>{{ marriage }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
    
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="AGE" placeholder="Enter Age">
                            </div>
                        </div>
                        </div>
    
                            <div class="form-group">
                                <select class="form-control" name="PAY_1">
                                        <option value="" disabled selected>Payment Status</option>
                                    {% for payment in payment_status %}
                                    <option>{{ payment }}</option>
                                    {% endfor %}
                                </select>
                            </div>
    
                            <center><div class="form-group">
                                <label style="font-size: 25px;font-weight: bold;">Bill Details</label>
                            </div></center>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="BILL_AMT1" placeholder="Last month Bill">
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="BILL_AMT2" placeholder="Last 2nd month Bill">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="BILL_AMT3" placeholder="Last 3rd month Bill ">
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="BILL_AMT4" placeholder="Last 4th month Bill">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="BILL_AMT5" placeholder="Last 5th month Bill">
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="BILL_AMT6" placeholder="Last 6th month Bill">
                                    </div>
                                </div>
                            </div>
    
    
                            <center><div class="form-group">
                                <label style="font-size: 25px;font-weight: bold;">Payment Details</label>
                            </div></center>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="PAY_AMT1" placeholder="Amount Paid in last month">
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="PAY_AMT2" placeholder="Amount paid in 2nd last month">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="PAY_AMT3" placeholder="Amount paid in 3rd last month">
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="PAY_AMT4" placeholder="Amount paid in 4th last month">
                                    </div>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="PAY_AMT5" placeholder="Amount paid in 5th last month">
                                    </div>
                                </div>
    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="PAY_AMT6" placeholder="Amount paid in 6th last month">
                                    </div>
                                </div>
                            </div>
    
                            <button class="btn btn-info">Predict</button>
    
                   </form></center>
               </div>
    
               <!-- <footer> -->
                <!-- <center><p style="color: white;font-size: 17px;font-weight: bold;margin-top: 10px;">Umme Athiya</p></center> -->
                <!-- <center><p style="color: white;font-size: 17px;font-weight: bold;margin-top: 10px;">Technocolabs-ML-Internship</p></center> -->
                <!-- <center><p style="color: white;font-size: 17px;font-weight: bold;margin-top: 10px;"><a href="athiya.naseem@gmail.com">Mail me</a></p></center> -->
    
    <!-- </footer> -->
   
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
